# Ignore virtual environment
venv/
.env

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore database files
*.db
*.sqlite

# Ignore logs and temp files
*.log
*.tmp

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode/
.idea/
